
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Treeptik demo</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Favicons -->
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm bg-color text-color">
  <h5 class="my-0 mr-md-auto font-weight-normal">Treeptik demo</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <!-- <a class="p-2 text-color" href="#">Home</a> -->
    
  </nav>

</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1>Devops at the speed of light <img src="images/stars.png" height="30px" width="30px" alt=""></h1>
  <p class="lead"> This simple nodejs app was built for demo purpose. It displays your ip address and your country</p>
  <hr>
  <div > 
    <img src="images/user.png" height="40px" width="40px" alt=""> <h3><%= clientip %></h3>
    <img src="<%= country_flag %>" alt="">
  </div>
  <hr>
</div>


<div class="container">
  <div class="card-deck mb-3 text-center">
    
    <div class="card border-color" style="width: 18rem;">
      <img src="images/stars.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Journey to the cloud</h3>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cost optimization</a></li>
          <li><a class="text-muted" href="#">Auto Scaling</a></li>
          <li><a class="text-muted" href="#">High Availability</a></li>
          <li><a class="text-muted" href="#">Cloud assessments</a></li>
          <li><a class="text-muted" href="#">Migration</a></li>
          </ul>
     
      </div>
    </div>

    <div class="card border-color" style="width: 18rem;">
      <img src="images/stars.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Move to Devops</h3>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cost optimization</a></li>
          <li><a class="text-muted" href="#">Auto Scaling</a></li>
          <li><a class="text-muted" href="#">High Availability</a></li>
          <li><a class="text-muted" href="#">Cloud assessments</a></li>
          <li><a class="text-muted" href="#">Migration</a></li>
          </ul>
        
      </div>
    </div>

    <div class="card border-color" style="width: 18rem;">
      <img src="images/stars.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Stack your containers</h3>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Governance</a></li>
          <li><a class="text-muted" href="#">Orchestration</a></li>
          <li><a class="text-muted" href="#">Monitoring</a></li>
          <li><a class="text-muted" href="#">CI/CD</a></li>
          </ul>
        
      </div>
    </div>
    
    
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
       
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
       
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
